body {
	background-image: url('./Images/Background.png');
	background-size:normal;
	background-repeat:repeat;
  color: #fff;
  text-align: center
}
.button {
  height:200px;
  width:200px;
  border-radius: 7px;
  background-color: #1b1b1b;
  color:  #ffffff;
  padding: 100px 10px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
.buttonMini {
  border-radius: 7px;
  background-color: #1b1b1b;
  color:  #ffffff;
}
.buttonMini:hover {
  background-color: #1b1b1b;
  color: rgb(0, 204, 255);
  border-color:rgb(0, 0, 0)
}
.button:hover {
  background-color: #1b1b1b;
  color: rgb(0, 204, 255);
  border-color:rgb(0, 0, 0)
}
.droid {
  font-family: 'georgia',italic;
}
